
<div class="intro-header">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <div class="ad-tabs">
          <input class="state" type="radio" title="tab-one" name="tabs-state" id="tab-one" checked />
          <input class="state" type="radio" title="tab-two" name="tabs-state" id="tab-two" />
          <div class="tabs flex-tabs">
            <label for="tab-one" id="tab-one-label" class="tab">Search</label>
            <label for="tab-two" id="tab-two-label" class="tab">List</label>
            <div id="tab-one-panel" class="panel active">
            <div class="row">
                <div id="request-section" class="col-xs-12">
                  <h1 class="text-center v-p-t b-t">Find your future public<span class="orange">ad</span> space</h1>
                </div>
              </div>
              <div class="row">
                <div class="col-xs-12">
                <%=form_tag("/listings", method: "get", search: true, class: "nifty_form") do%>
                  <div class="row">
                    <div class="col-sm-6 col-md-4 c-p-b">
                      <p class='vp-s-t '>search by publicad type</p>
                      <%=select_tag "category", "<option selected='selected' >All</option></span><option>Billboard</option><option>Bench Ad</option><option>Bus Stop Ad</option>".html_safe, id: "dropdown"%>
                    </div>
                    <div class="col-sm-6 col-md-4 c-p-b">
                      <p class="vp-s-t">search in this location</p>
                      <%= text_field_tag(:address, nil, :required => true, placeholder: 'Zip code or Address') %>
                    </div>
                    <div class="col-sm-12 col-md-4 c-p-b vp-s-c">
                      <p class="vp-s-t">proximity from location</p>
                      <div id="nonlinear"></div>
                      <span class="example-val" id="distance-value"></span>
                    </div>
                    <div class="col-sm-12" style="clear:both;">
                      <%= hidden_field_tag('distance', 'valuye')%> 
                      <%= submit_tag("Find PublicAdSpace", class: 'btn btn-warning btn-lg hm-button', id: 'distance_slider') %>
                    </div>
                  </div>
                <%end%>
                </div>
              </div>
            </div>
            <div id="tab-two-panel" class="panel ">
              <div class="row toggleable" id='signInDiv'>
                <div id="listing-section" class="col-xs-12">
                 <h1 class="text-center v-p-t b-t ">
Make money listing public<span class="orange">ad</span> space. Create your <span class="orange">free</span> account today.</h1>
                </div> <!-- listing section -->
                <div class="col-xs-12 ">
                  <%= form_for(:session, url: {controller: "sessions", action: "create"}, html: {class: "form-inline", id: "login-nav"}) do |f| %>
                    <div class="form-group">
                      <label class="sr-only" >Email address</label>
                      <%= f.email_field :email, required: true, class: "w-100p", placeholder: "Email" %>
                    </div>
                    <div class="form-group">
                      <label class="sr-only" >Password</label>
                      <%= f.password_field :password, required: true, class: "w-100p", placeholder: "Password" %>
                    </div>
                    <div class="form-group">
                      <%= f.submit "Sign In", :class => 'btn btn-warning btn-block' %>
                    </div>
                  <% end %>
                </div>
              </div> <!-- row -->
              <div class="row toggleable" id='signUpDiv'>
                <div id="listing-section" class="col-xs-12">
                 <h1 class="text-center v-p-t b-t ">
Make money listing public<span class="orange">ad</span> space. Create your <span class="orange">free</span> account today.</h1>
                </div> <!-- listing section -->
                <div class="col-xs-12 ">
                  <%= form_for(User.new, url: {controller: "users", action: "create"}, html: {class: "f-p-t-20px form-inline", id: "sign-up-nav"}) do |f| %>
                    <div class="form-group">
                       <label class="sr-only">Email address</label>
                     <%= f.email_field :email, required: true, class: "c-w-m d-b w-100p", placeholder: "Email" %>
                    </div>
                    <div class="form-group">
                       <label class="sr-only">Password</label>
                       <%= f.password_field :password, required: true, class: "c-w-m d-b w-100p", placeholder: "Password" %>
                    </div>
                    <div class="form-group">
                      <label class="sr-only">Type
                      </label>
                      <%= select_tag :user_type, options_for_select(User.user_form_selections, "User::Curator"), class: "c-w-m d-b w-100p" %>
                    </div>
                    <div class="form-group">
                  <%= f.submit "Sign Up", :class => 'btn btn-warning btn-block' %>
                    </div>
                 <% end %>
                </div>
              </div>
              <div class="row">
                <div class="col-xs-12 f-p-t-20px">
                  <a class="t-d-n l-c-p t-d-g f-s-l" id= 'joinLink'> Sign Up</a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Page Content -->
<div class="content-section-a s-s-s">
  <div class="container">
    <div class="row">
      <div class="col-lg-6 col-lg-offset-1  col-sm-6">
        <div class="clearfix"></div>
        <%=image_tag 'searchmarket.png', class: "h-h-i"%>
        <h2 class="section-heading r-t no-pad no-marg">Search for a public<span class="orange">ad</span> space</h2>
        <hr class="section-heading-spacer ">
        <p class="home lead r-t no-pad no-marg">Finding the perfect ad space to promote your business, products, or cause is easier than ever thanks to public<span class="ad-txt">ad</span>. Simple browse our map, find the listings you like most, and submit a request. Secure your dream adverstisement space in less than 3 minutes, it's that simple. </p>
        <a href="#tab-one" class="cta-link desk-btn  f-r btn btn-warning btn-lg hidden-xs">Search</a>
      </div>
      <div class="col-lg-5   col-sm-6">
        <%= image_tag("map_public_ad.png", class: "f-l img-responsive home-img pad-left-20px") %>
      </div>
      <div class="col-xs-12 visible-xs">
        <a href="#tab-one" class="cta-link  btn btn-warning btn-lg visible-xs">Search</a>
      </div>
    </div>
  </div>
    <!-- /.container -->
</div>
<!-- /.content-section-b -->

<div class="content-section-b s-s-s">
  <div class="container">
    <div class="row">
            <div class="col-lg-5 col-sm-6">
        <%= image_tag("public-ad-sample-2.jpg", class: "f-r img-responsive home-img hidden-xs") %>
      </div>
      <div class="col-lg-6 p-l-30 col-sm-6">
        <div class="clearfix"></div>
        <%=image_tag 'stacks.png', class: "h-h-i-1"%>
        <h2 class="section-heading no-pad no-marg l-t">List a public<span class="orange">ad</span> space</h2>
        <hr class="section-heading-spacer">
        <p class="home lead l-t no-pad no-marg">
        Make money listing other people's out of home media, or make even more money listing your own. We'll make an instantly marketeable profile for your public<span class="ad-txt">ad</span> space, for free, that can be shared with a worldwide audience. Expand your horizons, increase your revenue. List with public<span class="ad-txt">ad</span> today.
        </p>
        <a href="#tab-two" class="cta-link btn btn-warning desk-btn btn-lg hidden-xs">List</a>
      </div>
<div class="col-xs-12 visible-xs pad-b">
        <%= image_tag("public-ad-sample-2.jpg", class: "f-r img-responsive home-img ") %>
</div>
      <div class="col-xs-12 visible-xs">
        <a href="#tab-two" class="cta-link btn btn-warning  btn-lg visible-xs">List</a>
      </div>
    </div>
  </div>
  <!-- /.container -->
</div>

<div class="content-section-a s-s-s">
  <div class="container">
    <div class="row">
      <div class="col-lg-6  col-lg-offset-1 col-sm-6">
        <div class="clearfix"></div>
        <%=image_tag 'marketplace.png', class: "h-h-i"%>
        <h2 class="section-heading r-t">The public<span class="orange">ad</span> space marketplace</h2>
        <hr class="section-heading-spacer">
        <p class="home lead r-t no-pad no-marg">Are you a designer? Marketing Consultant? Legal Advisor? Increase your customer base by offering your serves on public<span class="orange">ad</span> space today. </p>
        <a href="#tab-two" class="cta-link btn btn-warning f-r desk-btn btn-lg hidden-xs">Join</a>
      </div>
      <div class="col-lg-5 col-sm-6">
        <%= image_tag("public-ad-sample.png", class: "f-l img-responsive l-t home-img") %>
      </div>
      <div class="col-xs-12 visible-xs">
        <a href="#tab-two" class="cta-link btn btn-warning btn-lg visible-xs">Join</a>
      </div>
    </div>
  </div>
    <!-- /.container -->
</div>