


<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <h2 class="text-center">&nbsp;&nbsp;
        <%= @listing.title %>
      </h2>
      <h4 class="text-center">
        <%= @listing.description %>
      </h4>
      <h2 class="text-center">
        <% if @listing.user == current_user %>
          <div class="btn btn-warning">
            <%= link_to "Edit Listing", edit_listing_path(@listing), class: "no-link-styling" %>
          </div>
        <% else %>
          <% if @have_contacted_listing %>
            <div class="btn btn-success">
              <%= link_to "Contacted", profile_users_path, class: "no-link-styling" %>
            </div>
          <% else %>
            <% if current_user %>
              <div id="contact-button" class="btn btn-warning" data-toggle="modal" data-target="#messageModal">Contact</div>
            <% else %>
              <%= link_to "Contact", login_users_path, class: "btn btn-warning" %>
            <% end %>
          <% end %>
        <% end %>
      </h2>
      </div>
  </div>
  <hr>
  <div class="row">
    <div class="col-sm-6">
      <%= image_tag(@listing.photo.url, class: "img-responsive center-block") %>
    </div>
    <div class="col-sm-6 p-top-5p">                    
      <h4 class="text-center"><span class="fa fa-map-marker icon"></span></h4>
      <h4 class="text-center">Nearest Street Address</h4>
      <h4 class="text-center"><%= @listing.address.line_1 %>, <%= @listing.address.city %>, <%= @listing.address.state %> <%= @listing.address.zipcode %> <%= @listing.address.country %></h4>
      <h5 class="text-center">
        <%= number_to_currency(@listing.recurring_amount) %> <%= @listing.renewal_period_label %>&nbsp;&nbsp;&nbsp;&nbsp;
        <%= number_to_currency(@listing.base_amount) %> one time set-up fee
      </h5>
      <h5 class="text-center">Width: <%= @listing.width %> in | Height: <%= @listing.height %> in | <%= @listing.area %> SqIn</h5>
    </div>
  </div>
  <hr>
    <div class="row">
    <div class="col-xs-12">
      <div class="row">
        <div class="col-xs-6">
          <h5 class="text-right orange">Type</h5>
        </div>
        <div class="col-xs-6">
          <h5 class=""><%=@listing.category%></h5>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-6">
          <h5 class="text-right orange">Reference ID:</h5>
        </div>
        <div class="col-xs-6">
          <h5 class=""><%=@listing.ref_id%></h5>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-6">
          <h5 class="text-right orange">Owned By:</h5>
        </div>
        <div class="col-xs-6">
          <h5 class=""><%=@listing.company_name%></h5>
        </div>
      </div>
<%if @listing.is_approved?%>
      <div class="row">
        <div class="col-xs-6">
          <h5 class="text-right orange">Minimum Lease:</h5>
        </div>
        <div class="col-xs-6">
          <h5 class=""><%= distance_of_time_in_words_to_now(@listing.min_lease_days.days.from_now) %></h5>
        </div>
      </div>
<%end%>
    </div>
  </div>
  <hr>
  <div class="row">
    <div class="col-sm-6">
      <h3 class="text-center">Location</h3>
      <div class="c-w-m" id="map"></div>
    </div>
    <div class="col-sm-6">
      <h3 class="text-center">Street View</h3>
      <div class="c-w-m" id="pano"></div>
    </div>
  </div>
  <hr>
</div>








<style type="text/css">
  .nav.nav-tabs li{
    /*margin: 0 auto;*/
    text-align: center;
  }

</style>



<% content_for :javascripts do %>
  <script type="text/javascript" src="http://maps.google.com/maps/api/js?key=AIzaSyD4MNOQPBMHu2SwoXKy0CFvwEP7PcjN-Wg"></script>
  <script type="text/javascript">
  var LISTING = {};
  console.log(gon.addressDetails);
  console.log(gon.address);

var coords = new google.maps.LatLng(gon.address['latitude'], gon.address['longitude'])

  LISTING.gMap = new google.maps.Map(document.getElementById('map'), {
    zoom: 14,
    center: coords
  });
    var marker = new google.maps.Marker({
      position: coords,
      map: LISTING.gMap,
      title:"publicAds Listing",
      animation: google.maps.Animation.DROP
  });
  var sv = new google.maps.StreetViewService();
    if (gon.addressDetails) {
    LISTING.panorama = new google.maps.StreetViewPanorama(
          document.getElementById('pano'));
    LISTING.panorama.setPano(gon.addressDetails['pano_id']);
    LISTING.panorama.setPov({
      heading: Number(gon.addressDetails['heading']),
      pitch: Number(gon.addressDetails['pitch']),
      zoom: Number(gon.addressDetails['zoom'])
    })
    LISTING.panorama.setVisible(true);
    console.log("i've got details");
    }
    else {
    LISTING.panorama = new google.maps.StreetViewPanorama(
          document.getElementById('pano'), {
            position: coords,
            pov: {
              heading: 270,
              pitch: 0},
            zoom: 1
        });
    console.log("i've dont have details");
    };


  </script>
<% end %>

<style>
  #map, #pano{
    width: 300px;
    height: 300px;
  }

.p-top-5p{
  padding-top: 5%;
}

</style>



  <div class="modal fade" id="messageModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h4 class="modal-title text-center" id="myModalLabel">Inquire about the listing with the pulic<span class="orange">ad</span> owner</h4>
        </div>
        <div class="modal-body">
          <%= render partial: "new_inquiry", locals: { inquiry: Inquiry.new(listing_id: @listing.id), url: inquiries_path, method: :post} %>
        </div>
      </div>
    </div>
  </div>