<%= form_for(:coohration, url: {controller: "sandbox", action: "get_map"}, remote: true) do |f| %>
  
<section class="oohm-f oohm-0 ">
<div class="container">
	<div class="row">
		<div class="col-sm-6">			
			<h1>1) Set Map Marker on publicAd location</h1>

    <div  id="floating-panel">
      <input class="text-center" id="address" type="textbox" placeholder="Address">
      <input id="newOoohByAddress" type="button" value="Geocode" class="btn btn-warning">
    </div>
    
    <p class="no-marg no-pad text-center">or by current location</p>

    <input id="newOoohByCurrentLocation" type="button" value="Geocode" class="btn btn-warning d-b c-w-m ">
    <p class="no-marg no-pad text-center">PS. you can drag the marker to the exact location you want. Feel free to zoom in even more to be as accurate as possible using the Google Maps controls.</p>
		</div>
		<div class="col-sm-6">
			<div class="c-w-m" id="map"></div>
		</div>
	</div>
</div>
</section>
<section class="oohm-f oohm-1 ">
<div class="container">
	<div class="row">
		<div class="col-sm-6">			
  		<h1>2) Set Street View as accurately as possible</h1>
    </div>
    <div class="col-sm-6">
      <div id="pani" class="c-w-m"></div>
      <%= f.hidden_field(:pano_id)%> 
      <%= f.hidden_field(:heading)%> 
      <%= f.hidden_field(:pitch)%> 
    </div>
	</div>
</div>
</section>
<section class="oohm-f oohm-2 ">
<div class="container">
	<div class="row">
    <div class="col-sm-6">      
      <h1>3) Company Name and publicAd ID</h1>


  <div class="form-group">
    <label class="orange" > OOHM vendor</label>
  <%= f.text_field :oohm_vendor, required: true, class: "w-100p", placeholder: "Vendor" %>
  </div>


  <div class="form-group">
    <label class="orange" > ID </label>
  <%= f.text_field :oohm_id, required: true, class: "w-100p", placeholder: "OOHM ID" %>
  </div>


    </div>
    <div class="col-sm-6">     
      <%=image_tag('publicad_listing_info.jpg', {class: 'img-responsive center-block listing-img-details'} ) %> 
    </div>
	</div>
</div>
</section>
<section class="oohm-f oohm-3 ">
<div class="container">
	<div class="row">
    <div class="col-sm-6">      
      <h1>4) Upload Picture of Ad</h1>
    </div>
    <div class="col-sm-6">     
      <h1>New Picture for Ad</h1>
    </div>
	</div>
</div>
</section>
<section class="oohm-f oohm-4 ">
<div class="container">
	<div class="row">
		<div class="col-xs-12">			
		  <div class="form-group">
      <h1>5) Review and Submit !</h1>
        <%= f.submit "Sign In", :class => 'btn btn-warning btn-block' %>
      </div>
    </div>
	</div>
</div>
</section>
<% end %>




<% content_for :javascripts do %>
<script type="text/javascript" src="http://maps.google.com/maps/api/js?key=AIzaSyD4MNOQPBMHu2SwoXKy0CFvwEP7PcjN-Wg"></script>

 <script>
newOOHM = {};
newOOHM.initMap = function() {
  newOOHM.map = new google.maps.Map(document.getElementById('map'), {
    zoom: 11,
    center: {lat: 37.77516808505975, lng: -122.4378558113159}
  });
  var geocoder = new google.maps.Geocoder();
  var sv = new google.maps.StreetViewService();

  document.getElementById('newOoohByAddress').addEventListener('click', 
    function() {
      newOOHM.geocodeAddress(geocoder, newOOHM.map);
  });
  document.getElementById('newOoohByCurrentLocation').addEventListener('click', function() {
      newOOHM.pickMeUp(newOOHM.map);
  })
};
</script>
<script type="text/javascript">
  newOOHM.streetViewer = function(marker){
    var sv = new google.maps.StreetViewService();
    var coords = marker.getPosition();
    newOOHM.panorama = new google.maps.StreetViewPanorama(
          document.getElementById('pani'), {
            position: coords,
            pov: {heading: 270, pitch: 0},
            zoom: 1
        });
}
</script>
<script type="text/javascript">
newOOHM.geocodeAddress = function (geocoder, resultsMap) {
  var address = document.getElementById('address').value;
  geocoder.geocode({'address': address}, function(results, status) {
    if (status === google.maps.GeocoderStatus.OK) {
      resultsMap.setCenter(results[0].geometry.location);
      if (newOOHM.marker) {
        newOOHM.marker.setMap(null);
      }
      newOOHM.marker = new google.maps.Marker({
        map: resultsMap,
        position: results[0].geometry.location,
        draggable: true,
        animation: google.maps.Animation.DROP
      });
      newOOHM.streetViewer(newOOHM.marker);
      newOOHM.marker.addListener('dragend',function(event) {
          var lati = event.latLng.lat();
          var longi = event.latLng.lng();
      var coords = new google.maps.LatLng(lati, longi)
          newOOHM.panorama.setPosition(coords);
      });
    } else {
      alert('Geocode was not successful for the following reason: ' + status);
    }
  });
}
</script>

<script type="text/javascript">
newOOHM.pickMeUp = function(oohmMap) {
  function success(position) {
    var latitude  = position.coords.latitude;
    var longitude = position.coords.longitude;
    var coords = new google.maps.LatLng(latitude, longitude);
      oohmMap.setCenter(coords);
      if (newOOHM.marker) {
        newOOHM.marker.setMap(null);
      }
      newOOHM.marker = new google.maps.Marker({
        map: oohmMap,
        position: coords,
        draggable: true,
        animation: google.maps.Animation.DROP
      });
      newOOHM.streetViewer(newOOHM.marker);
      newOOHM.marker.addListener('dragend',function(event) {
          var lati = event.latLng.lat();
          var longi = event.latLng.lng();
          var coords = new google.maps.LatLng(lati, longi)
          newOOHM.panorama.setPosition(coords);
      });
  }
  function error() {
   alert('there was an error with geolocation. try entering an address.')
  };
  navigator.geolocation.getCurrentPosition(success, error);
}
</script>
<script type="text/javascript">newOOHM.initMap();</script>
<% end %>


<style>
	#pano, #pano1{
		width: 350px;
		height: 350px;
	}
	#hidden_map{
		width: 350px;
		height: 350px;
	}

	      #map {
        height: 300px;
        width: 300px;
      }
      #floating-panel {
        /*position: absolute;*/
        /*top: 10px;*/
        /*left: 25%;*/
        z-index: 5;
        padding: 5px;
        /*border: 1px solid #999;*/
        text-align: center;
        font-family: 'Roboto','sans-serif';
        line-height: 30px;
        padding-left: 10px;
      }

.oohm-f {
	min-height: 400px;
}
.oohm-0{
	background-color: rgba(255,255,255,0.6);
}
.oohm-1{
	background-color: rgba(255,245,238,0.6);
}
.oohm-2{
	background-color: rgba(255,229,180, 0.6);
}
.oohm-3{
	background-color: rgba(255,179,71, 0.6);
}
.oohm-4{
	background-color: rgba(255,168,18, 0.6);
}
#pani{
  width: 300px;
  height: 300px;
}
</style>