<!DOCTYPE html>
<html>
<head>
  <title>PublicAds</title>
  <%= Gon::Base.render_data %>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" type="text/css" href="https://js.arcgis.com/3.13/esri/css/esri.css">
<link rel="stylesheet" type="text/css" href="https://esri.github.io/bootstrap-map-js/src/css/bootstrapmap.css">
  <%= csrf_meta_tags %>
  <%= favicon_link_tag 'favicon.ico' %>
</head>
<body>
  <!-- Navigation -->
  <nav class="navbar navbar-default topnav" role="navigation">
    <div class="container topnav">
      <!-- Brand and toggle get grouped for better mobile display -->
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <%= link_to image_tag("publicad-logo-nav.png", width: 150, height: 50), root_path, class: "navbar-brand topnav" %>
      </div>
      <!-- Collect the nav links, forms, and other content for toggling -->
      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav navbar-right">
          <% unless logged_in? -%>
            <li class="dropdown">
               <a class="dropdown-toggle l-c-p s-nav-l" data-toggle="dropdown">Sign In </a>
               <ul class="dropdown-menu" style="padding: 15px;min-width: 250px;">
                  <li class="text-center">public<span class="orange">ad</span> signin</li>
                  <li>
                     <div class="row">
                        <div class="col-md-12">
                            <%= form_for(:session, url: {controller: "sessions", action: "create"}, html: {class: "form", id: "login-nav"}) do |f| %>
                              <div class="form-group">
                                 <label class="sr-only" >Email address</label>
                               <%= f.email_field :email, required: true, class: "form-control", placeholder: "Email" %>
                              </div>
                              <div class="form-group">
                                 <label class="sr-only" >Password</label>
                                 <%= f.password_field :password, required: true, class: "form-control", placeholder: "Password" %>
                              </div>
                              <div class="form-group">
                                <%= f.submit "Log In", :class => 'btn btn-warning btn-block' %>
                              </div>
                           <% end %>
                        </div>
                     </div>
                  </li>
               </ul>
            </li>
            <li class="dropdown">
               <a  class="dropdown-toggle l-c-p s-u-l s-nav-l" data-toggle="dropdown">Sign Up </a>
               <ul class="dropdown-menu" style="padding: 15px;min-width: 250px;">
                  <li class="text-center">public<span class="orange">ad</span> signup</li>
                  <li>
                     <div class="row">
                        <div class="col-md-12">
                            <%= form_for(User.new, url: {controller: "users", action: "create"}, html: {class: "form", id: "sign-up-nav"}) do |f| %>
                              <div class="form-group">
                                 <label class="sr-only">Email address</label>
                               <%= f.email_field :email, required: true, class: "form-control", placeholder: "Email" %>
                              </div>
                              <div class="form-group">
                                 <label class="sr-only">Password</label>
                                 <%= f.password_field :password, required: true, class: "form-control", placeholder: "Password" %>
                              </div>
                              <div class="form-group">
                            <%= f.submit "Sign Up", :class => 'btn btn-warning btn-block' %>
                              </div>
                           <% end %>
                        </div>
                     </div>
                  </li>
               </ul>
            </li>

          <% else -%>
            <li>
              <%= link_to "Profile", profile_users_path %>
            </li>
            <li>
              <%= link_to "Create Listing", new_listing_path %>
            </li>
            <li>
              <%= link_to "Logout", logout_users_path, method: "delete" %>
            </li>
          <% end %>
        </ul>
      </div>
      <!-- /.navbar-collapse -->
    </div>
    <!-- /.container -->
    </nav>


  <!-- <div class="top-margin"></div> -->
  <% flash.each do |key, value| %>
    <div class="alert alert-<%= key %>"><%= value %></div>
  <% end %>

  <div class="content">
    <%= yield %>
  </div>

  <!-- Footer -->
<footer class="footer">
  <div class="container">
    <p class="copyright text-muted small text-center">Copyright &copy; Public Ads 2016. All Rights Reserved.</p>
  </div>
</footer>
  <%= yield :javascripts %>
</body>
</html>
